# Database settings
DB_NAME=schmovies
DB_USER=db_user
DB_PASSWORD=db_password
DB_PORT=5432

# Django settings
SECRET_KEY=your_secret_key_here
DEBUG=0
ALLOWED_HOSTS=localhost,yourdomain.com

# API Keys
TMDB_API_KEY=your_tmdb_api_key_here
OPENAI_API_KEY=your_openai_api_key_here