@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
$lime: "Limelight", sans-serif;

.about-info {
  display: flex;
  flex-direction: column;
  margin: 0 10%;
  font-size: 1.5em;
}

