@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
$borderColour: #ddddddab;

.favourites-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 90%;
  padding: 20px;
  overflow: scroll;
  overflow-x: auto;
  overflow-y: hidden;
}

.heading-container {
  text-align: center;
}

.favourites-title {
  margin-bottom: 20px;
  text-align: center;
  flex-wrap: nowrap;
  width: 100%;
  font-size: 3em;
  font-family: "Limelight", sans-serif;
}

.favourites-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  width: auto;
}

.favourites-list-item {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  justify-content: space-between; /* Distribute items evenly */
  position: relative; /* Ensure relative positioning */
  flex: 0 0 200px;
  height: 550px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border: solid $borderColour;
  width: 200px;
  box-sizing: border-box;
  cursor: pointer;

  &:hover {
    border: solid yellow;
  }
}

.favourites-list-item:hover {
  border: solid yellow;
}

.favourites-details {
  margin-top: 10px;
}

.favourites-item-title {
  text-align: center;
}


.remove-favourites_btn {
  background-color: #ff2200;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  bottom: 10px;
  left: 10px; /* Adjust left position as needed */

  &:hover {
    background-color: yellow;
    cursor: pointer;
  }
}

.favourites-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
