@import url("https://fonts.googleapis.com/css2?family=Limelight&display=swap");

.App-header {
  text-align: center;

  h1 {
    margin-bottom: 0; /* Optional: Remove default margin */
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
}

.movie-list-container {
  display: flex;
  flex-direction: row;
  align-items: center; /* Center the items horizontally */
  margin: auto;
  width: 90%;
  padding: 20px;
  overflow: scroll;
  overflow-x: auto; /* Add horizontal scrollbar */
  overflow-y: hidden; /* Hide vertical scrollbar initially */
}

.heading-container {
  text-align: center;
}

.movie-category-title {
  margin-bottom: 20px;
  text-align: center;
  flex-wrap: nowrap;
  width: 100%;
  font-size: 1.75em;
  font-family: "Limelight", sans-serif;
}

.movie-list {
  display: flex;
  flex-direction: column; /* Display items vertically */
  padding: 20px;
  width: auto;
}

.movie-list-container {
  display: flex;
  flex-direction: row;
  align-items: center; /* Center the items vertically */
}

.movie-list-container::-webkit-scrollbar {
  height: 10px; /* Set the height of the scrollbar */
}

.movie-list-container::-webkit-scrollbar-thumb {
  background: #000000; /* Color of the scrollbar thumb */
  border-radius: 5px; /* Rounded corners */
}

.movie-list-container:hover::-webkit-scrollbar-thumb {
  background: #555; /* Change thumb color on hover */
}

.movie-list-container::-webkit-scrollbar-track {
  background: #000000; /* Color of the scrollbar track */
}

.movie-list__item {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  justify-content: space-between; /* Distribute items evenly */
  position: relative; /* Ensure relative positioning */
  flex: 0 0 200px;
  height: 550px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
  width: 200px;
  box-sizing: border-box;
  cursor: pointer;

  &:hover {
    border: solid yellow;
  }
}

.movie-details {
  margin-top: auto; /* Move the movie details to the bottom */
}

.movie-title {
  font-size: 1.75em;
}

img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.favourites_btn {
  background-color: #fd220000;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  font-family: "Press Start 2P";
  bottom: 10px;
  left: 10px; /* Adjust left position as needed */

  &:hover {
    background-color: yellow;
    cursor: pointer;
  }
}


.shrink {
  font-size: 18px; /* Adjust the font size as needed */
}