

.App-header {
  text-align: center;
}

.App-header h1 {
  margin-bottom: 0; /* Optional: Remove default margin */
}

.movie-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.movie-list-container {
  display: flex;
  flex-direction: column;
}

.heading-container {
  text-align: center;
}



.movie-list__item {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
  width: 200px;
}

.movie-details {
  margin-top: 10px;
}

.movie-list__item img {
  width: 100%;
  height: auto;
}
