@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');


.navbar_links {
  opacity: 0; /* Initially hide the buttons */
  visibility: visible; /* Initially show the container */
  transition: opacity 0.3s ease-in-out; /* Add transition effect */
  display: flex; /* Ensure it's a flex container to apply gap */
  gap: 1rem; /* Apply gap between child elements */
  
  &.fade-in {
    opacity: 1; /* Show the buttons when fade-in class is applied */
  }
}

.navbar {
  display: flex;
  flex-direction: row-reverse;
  padding: 1rem;
  
  &__links {
    display: flex;
    align-items: flex-end;
  }
}

.logo {
  width: 500px;
  height: auto; /* Maintain aspect ratio */
  cursor: pointer;
  animation: wiggleLogo 0.3s ease-in-out; // Animation definition
  
  &:hover {
    border: solid yellow;
    // width: 550px;
    // height: auto;
    border-radius: 5px;
    box-shadow: inset;
  }
}

@keyframes wiggleLogo {
  0% {
    transform: rotate(-2deg); // Initial state: rotate left slightly
  }
  25% {
    transform: rotate(2deg); // Rotate right slightly at 25%
  }
  50% {
    transform: rotate(-2deg); // Rotate left slightly at 50%
  }
  75% {
    transform: rotate(2deg); // Rotate right slightly at 75%
  }
  100% {
    transform: rotate(-2deg); // Final state: rotate left slightly at 100%
  }
}

.quiz-btn,
.navbar_favourites-btn,
.navbar_about-btn,
.navbar_login-btn,
.navbar_register-btn {
  background-color: #ff0000;
  color: black;
  border-color: yellow;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Press Start 2P"; /* Uses the Press Start 2P font */
  
  &:hover {
    background-color: yellow;
    color: black;
  }
}
