/* .navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
  align-items: center;
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;
  height: 72px;
} 
*/

/* Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: #fff;
}

.App-header {
  flex-grow: 1;
  text-align: center;
}
/* 
.logo {
  max-width: 100px; 
  height: auto;
} */

.navbar_links {
  display: flex;
  gap: 1rem;
}

.navbar_about-btn,
.navbar_login-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px; /* Optional: for rounded corners */
}

.navbar_login-btn {
  margin-left: auto; /* Pushes the Login button to the right */
}
