body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

.logo-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.logo {
  width: 150px;
  height: auto;
}

.content {
  opacity: 0; // Initially hide the content
  transition: opacity 0.2s ease-in-out; // Apply transition on opacity change
}

.fade-in {
  opacity: 1; // Fade in the content by setting opacity to 1
}
